@import '../../../../colours';

.container {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  gap: 1rem;
  padding: 2rem;
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 1rem;
  border-color: $secondary;
  // shadow-md from https://tailwindcss.com/docs/box-shadow
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
