@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=JetBrains+Mono:wght@100..800&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", "Roboto", sans;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.5;
}

:root {
  --blue-gradient: hsl(196 80% 50%);
  --green-gradient: hsl(150 74% 52%);
}
