---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import CodeOfConduct from "../assets/text/coc.md";
---

<Layout>
  <main>
    <CodeOfConduct />
  </main>
</Layout>

<style>
  main {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
