@import "../colours";

.index {
    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 128px;
        padding-right: 128px;
    }

    main {
        section.banner {
            position: relative;
            min-height: 100vh;
            display: flex;
            align-items: center;

            background-image: url('../assets/home_min.jpg');
            background-position: center;
            background-size: cover;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-color: #372f36;
                opacity: .8;
            }

            .container {
                position: relative;
                z-index: 1;

                h1 {
                    color: white;
                    font-size: 48px;
                    margin-bottom: 12px;

                    span {
                        color: $secondary;
                    }
                }

                h3 {
                    color: wheat;
                    font-weight: 400;
                    opacity: 1;
                    margin-top: 5px;
                    font-size: 32px;
                    margin-bottom: 32px;
                }

                .button {
                    display: inline-block;
                    color: #fff;
                    background-color: $secondary;
                    padding: 12px 16px;
                    border-radius: 8px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 8px;
                }

                .button.secondary {
                    background-color: $secondary-lighter;
                }
            }
        }

        section.about {
            background-color: #EEE;

            .container {

                padding-top: 32px;
                padding-bottom: 64px;

                h3 {
                    font-size: 32px;
                    padding-bottom: 32px;
                }

                p {
                    font-size: 24px;
                }

                span {
                    color: $secondary;
                }

                .stats-container {
                    width: 100%;
                    height: 100%;

                    align-items: center;
                }

                .stats {
                    width: 100%;
                    align-items: center;
                    padding-top: 32px;
                    padding-left: 60px;
                    padding-right: 60px;

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row: auto auto;
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    justify-content: center;

                    .stat {
                        border: 1px solid #CCC;
                        padding: 12px 32px;
                        padding-left: 32px;
                        border-radius: 16px;

                        h3 {
                            font-size: 24px;
                            width: 27px;
                            padding-bottom: 23px;
                            border-bottom: 4px solid $secondary;
                        }

                        p {
                            padding-top: 16px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        section.tickets {
            min-height: fit-content;

            .container {
                padding-top: 32px;
                padding-bottom: 64px;

                .ticket-table {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h3 {
                    font-size: 32px;
                }

                .columns {
                    // float: left;
                    width: 30vw;
                    padding: 8px;

                    .price {
                        list-style-type: none;
                        border: 1px solid #eee;
                        margin: 0;
                        padding: 0;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;

                        .header {
                            background-color: #111;
                            color: white;
                            font-size: 25px;
                        }

                        .header.plus {
                            background-color: $secondary;
                        }

                        li {
                            border-bottom: 1px solid #eee;
                            padding: 20px;
                            text-align: center;
                        }

                        .grey {
                            background-color: #eee;
                            font-size: 20px;
                        }

                        .button {
                            background-color: $secondary;
                            border: none;
                            color: white;
                            padding: 10px 25px;
                            text-align: center;
                            text-decoration: none;
                            font-size: 18px;
                          }
                    }

                    .price:hover {
                        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
                    }
                }

                @media only screen and (max-width: 600px) {
                    .columns {
                      width: 100%;
                    }
                  }
            }
        }

        section.sponsors {
            background-color: #EEE;
            .container {
                padding-top: 32px;
                padding-bottom: 64px;

                h3 {
                    font-size: 32px;
                }
            
                h4 {
                    font-size: 24px;
                    margin: 16px 0 16px 0;
                }
            }

            .sponsor-tier {
                .sponsor-tier-sponsors img {
                    width: 300px;
                    height: 170px;
                    margin: 10px;
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 16px;
                }
            }

        }

        section.getting-there {
            .container {

                padding-top: 32px;
                padding-bottom: 64px;

                h3 {
                    font-size: 32px;
                }
            }

            a {
                color: $secondary;
                margin-bottom: 22px;
            }

            .leaflet-container {
                height: 350px;
                z-index: 60;
            }
        }

        section.gallery {
            background-color: #EEE;
            .container {
                padding-top: 32px;
                padding-bottom: 64px;

                h3 {
                    font-size: 32px;
                }
            }
        }
    }
}