---
import "../styles/globals.css";
import "../styles/sistem.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="hero">
    <h1>
      A tech conference for students <br />
      <span class="colors"> by students </span>
    </h1>
    <p class="details">
      Saturday 8<sup>th</sup> March 2025<br />
      University of Limerick
    </p>
    <div class="cta">
      <a href="/">BUY TICKETS</a>
    </div>
  </section>

  <br />

  <main>
    <section id="about">
      <div class="stats">
          <div>
            <span class="num colors">1</span><span class="unit">Day</span>
          </div>

          <div>
            <span class="num colors">2</span><span class="unit">Tracks</span>
          </div>
        
          <div>
            <span class="num colors">12</span><span class="unit">Sessions</span>
          </div>

          <div>
            <span class="num colors">200+</span><span class="unit">Attendees</span
            >
          </div>
      </div>

      <p>
        SISTEM is Ireland's most exciting student tech conference, run (almost)
        every year by volunteers dedicated to spreading the word about new,
        exciting developments in the field and inpiring the next generation of
        hackers, innovators, and entrepreneurs.
      </p>
    </section>

    <section id="sponsors">
      <h2>Sponsors</h2>

      <div class="cardholder">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </section>

    <!-- <section id="map"> -->
    <!--   <h2>Location</h2> -->
    <!--   <iframe -->
    <!--     class="embed" -->
    <!--     src="https://www.openstreetmap.org/export/embed.html?bbox=-8.585021495819094%2C52.674781804885065%2C-8.564937114715578%2C52.68503296411997&layer=mapnik&marker=52.679907685233964%2C-8.574979305267334" -->
    <!--   ></iframe><br /><small -->
    <!--     ><a -->
    <!--       href="https://www.openstreetmap.org/?mlat=52.67991&mlon=-8.57498#map=16/52.67991/-8.57498" -->
    <!--       >View Larger Map</a -->
    <!--     ></small -->
    <!--   > -->
    <!-- </section> -->
  </main>
</Layout>

<script>
  const count = document.querySelector(".count") as Element;
  const unit = document.querySelector(".unit") as Element;
  const confDate = new Date("2025-03-08");
  const today = new Date();

  let msLeft = confDate.valueOf() - today.valueOf();
  count.innerHTML = Math.ceil(msLeft / (1000 * 60 * 60 * 24)).toString();
  unit.innerHTML = "days left";
</script>