.schedule-page {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.schedule-page .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 40px;
    margin-bottom: 40px;
}

.schedule-content {
    flex: 1;
}

