---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import ScheduleCard from "../components/ScheduleCard.astro";
---

<Layout>
  <main>
    <h1>University of Limerick, 29th of March 2025</h1>
    <ScheduleCard title="Registration" speaker="Charles Babbage" startTime="10:30" endTime="11:00" location="Student Centre"/>
    <br/>
  </main>
</Layout>