---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import ScheduleCard from "../components/ScheduleCard.astro";
import Sistem from "../assets/sistem-logo-dark.svg";
import Google from "../assets/speakers/google_logo.png";
import Lero from "../assets/sponsors/lero_no_tagline.png";
import Ruairi from "../assets/speakers/dr_ruairi_o_reilly.jpg";
import Jim from "../assets/speakers/dr_jim_buckley.jpg";
import Anila from "../assets/speakers/dr_anila_mjeda.jpg";
import Tabea from "../assets/speakers/dr_tabea_dewille.jpg";

const schedule = [
  {
    title: "Registration",
    startTime: "9:45",
    endTime: "10:45",
    location: "Student Centre Main Entrance",
    description: "Register here for your badge and merch. Breakfast of fruit and scones will be provided.",
  },
  {
    title: "Opening Ceremony",
    startTime: "10:50",
    endTime: "11:00",
    speaker: "SISTEM Volunteers",
  },
  {
    title: "Google (?) / Networking",
    startTime: "11:00",
    endTime: "11:40",
    location: "KBG-12 / KBG-13",
    imageSrc: Google,
  },
  {
    title: "Clone Detection",
    startTime: "12:00",
    endTime: "12:40",
    speaker: "Dr. Jim Buckley",
    imageSrc: Lero,
  },
  {
    title: "TBA",
    startTime: "12:40",
    endTime: "13:20",
    speaker: "Dr. Ruairí O'Reilly",
    imageSrc: Ruairi,
    imageClass: "pfp",
  },
  {
    title: "COVID-19 App",
    startTime: "13:20",
    endTime: "14:00",
    speaker: "Dr. Jim Buckley",
    imageSrc: Jim,
    imageClass: "pfp",
  },
  {
    title: "Lunch",
    startTime: "14:00",
    endTime: "14:30",
    description: "Lunch is included as part of your ticket price.",
  },
  {
    title: "Quantum Computing",
    startTime: "14:40",
    endTime: "15:20",
    speaker: "Dr. Anila Mjeda",
    imageSrc: Anila,
    imageClass: "pfp",
  },
  {
    title: "Language Digitalisation",
    startTime: "15:20",
    endTime: "16:00",
    speaker: "Dr. Tabea DeWille",
    imageSrc: Tabea,
    imageClass: "pfp",
  },
  {
    title: "Lightning Talks",
    startTime: "16:15",
    endTime: "16:50",
    speaker: "Attendees",
  },
  {
    title: "Closing Ceremony",
    startTime: "16:50",
    endTime: "17:00",
    speaker: "SISTEM Volunteers",
  },
];
---

<Layout>
  <main>
    <h1>University of Limerick, 29<sup>th</sup> of March 2025</h1>

    {schedule.map((event) => (
      <>
        <ScheduleCard {...event} />
        <br />
      </>
    ))}
  </main>
</Layout>