---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import SpeakerCard from "../components/SpeakerCard.astro";
import Google from "../assets/speakers/google_logo.png";
import Lero from "../assets/sponsors/lero_no_tagline.png";
import Ruairi from "../assets/speakers/dr_ruairi_o_reilly.jpg";
import Jim from "../assets/speakers/dr_jim_buckley.jpg";
import Anila from "../assets/speakers/dr_anila_mjeda.jpg";
import Tabea from "../assets/speakers/dr_tabea_dewille.jpg";
import Anik from "../assets/speakers/anik_sarker.jpeg";
import {Content as RuairiDesc} from "../assets/text/ruairi.md";
import {Content as TabeaDesc} from "../assets/text/tabea.md";
import {Content as JimDesc} from "../assets/text/jim.md";
import {Content as AnilaDesc} from "../assets/text/anila.md";
import {Content as AnikDesc} from "../assets/text/anik.md";
---

<Layout>
  <main>
    <h1>Speakers list coming soon!</h1>
    <h2>If you know anyone that's interested in speaking, or would like to speak yourself, reach out to us at sistemconf@gmail.com!</h2>
    <br/>
  </main>
</Layout>

<style>
  h2 {
    text-align: center;
  }
</style>

<script></script>

