@import "../colours";

.team {
    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 128px;
        padding-right: 128px;
    }


    h3 {
        font-size: 32px;
    }

    section.banner {
        position: relative;
        min-height: 26vh;
        display: flex;
        align-items: center;

        background-image: url('../assets/home_min.jpg');
        background-position: center;
        background-size: cover;

        .container {
            position: relative;
            z-index: 1;

            h1 {
                padding-top: 24px;
                color: white;
                font-size: 48px;
                margin-bottom: 12px;
                text-align: center;

                span {
                    color: $secondary;
                }
            }

            p {
                text-align: center;
                color: #CCC;
                font-size: 24px;;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #372f36;
            opacity: .8;
        }
    }

    section.participating-societies {
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: #EEE;


        .container {
            width: 100%;
            flex-direction: row;

            .societies-list {
                display: grid;
                grid-template-columns: 2fr 2fr;
                width: 100%;
                height: 100%;
            }

            .society-item {
                padding: 20px;
                border: 1px solid #CCC;
                margin: 10px;
                border-radius: 16px;
                text-align: center;
            }
        }          
    }

    section.team-members {
        padding-top: 24px;
        padding-bottom: 24px;

        .sistem-gradient {
            background: linear-gradient(white, white) padding-box,
                        linear-gradient(to right, #FEAF39, #FE9297) border-box;
            border-radius: 50em;
            border: 8px solid transparent;
        }


        .team-list {
            margin: 16px;
            margin-left: 24px;
            display: grid;
            grid-template-columns: 2fr 2fr;

            background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, #FEAF39, #FE9297) border-box;
            border-radius: 16px;
            border: 3px solid transparent;

            align-items: center;
            justify-content: center;
        }

        .team-item {
            display: flex;
            padding: 16px;
            margin: 16px;

            .pfp {
                width: 180px;
                background: linear-gradient(white, white) padding-box,
                            linear-gradient(to right, #FEAF39, #FE9297) border-box;
                border-radius: 50em;
                border: 8px solid transparent;
                
            }

            .team-info {
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                justify-content: center;


                .name {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: 24px;
                }

                .society {
                    font-size: 26px;
                }

                .email {
                    color: $secondary;
                    text-decoration: none;
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    
        .additional-credit {
            padding: 16px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }
    }
}