<footer>
  <p class="contact">Contact</p>
  <div class="links">
    <a href="https://discord.gg/FCnun3MCv4">Discord</a>
    <a href="https://instagram.com/sistem_conf/">Instagram</a>
    <a href="https://github.com/sistemconf">GitHub</a>
    <a href="mailto:sistemconf@gmail.com">Email</a>
  </div>
  <p class="intersocs">
    SISTEM&TRADE; is organised by Intersocs, an association of Irish Computer and Networking societies.
  </p>
</footer>

<style>
  footer {
    padding: 1rem 1rem;
    border-top: 1px solid black;
    background-image: url("../assets/SISTEMfooter.png");
    color: white;

  }

  .contact {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0px;
  }

  .links {
    display: flex;
    gap: 2rem;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .intersocs {
    text-align: right;
  }

  @media only screen and (max-width: 600px)
  {
    footer {
      justify-content: space-evenly;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .intersocs{
      margin-top: 1.1rem;
      text-align: center;
    }
  }
</style>
