* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');

@font-face {
  font-family: "HussarBold"; 
  src: local("HussarBold"), url("./assets/fonts/HussarBold.otf") format("opentype");
}

