.container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.5rem;
}

.nameAndJobTitle {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
}

.jobTitle {
  font-size: smaller;
}
